*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-container{
    padding: 1.8rem;
}
.icons{
    color:white;
    
}
.icons:hover{
    color: gold;
}
.footer-items{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.footer-items:hover{
    color: gold;
}